header{
    background: linear-gradient(90deg, #ee4e2e,#ee4e2e);
    padding: 35px 30px 10px 30px;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.logo a{
    color: white;
    font-size: 27px;
    font-weight: bold;
}
nav ul{
    padding-top: 10px;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
nav ul li a{
    font-size: 13px;
    display: block;
    padding: 0px 10px 5px 10px;
    color: white;
    border-radius: 5px;
    position: relative;
    transition: 0.4s;
}
nav ul li a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.4s;
}
nav ul li a:hover::before{
    color: white;
    transition: 0.4s;
    width: 100%;
}
/* SEARCH  */
.search{
    display: flex;
    gap: 5px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px;
}
.search input{
    width: 100%;
    padding: 0px 5px;
    padding: 7px 10px;
    width: 450px;
    border: 2px solid white;
    border-radius: 2px;
    outline: none;
}
.search input:focus{
    border: 2px solid #ee4e2e;
}
.search input::placeholder{
    font-size: 13px;
}
.search button{
    padding: 5px 20px;
    font-size: 15px;
    border: none;
    background-color: #ee4e2e;
    color: white;
    border-radius: 3px;
}
.search-mobile{
    display: none;
}
/* SEARCH  */
/* BELL-CART-USER */
.bell-cart-user{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bell-cart-user > a{
    font-size: 23px;
    color: white;
    position: relative;
}
.bell-cart-user > a > span{
    position: absolute;
    top: -10px;
    right: -15px;
    font-size: 10px;
    display: block;
    padding: 2px 7px;
    background-color: black;
    border-radius: 200px;
    font-weight: bold;
}
.bell-cart-user > a:nth-child(1):hover .notification{
    scale: 1;
    transition: 0.2s;
}
.notification{
    scale: 0;
    transition: 0.2s;
    position: absolute;
    width: max-content;
    font-size: 12px;
    background-color: white;
    padding: 10px;
    color: black;
    left: -130px;
    box-shadow: 0px 0px 10px 0px gray;
}
/*  */
.user{
    position: relative;
    cursor: pointer;
}
.user:hover .profile-item{
    scale: 1;
    transition: 0.2s;
}
.user > i{
    font-size: 23px;
    color: white;
}
.profile-item{
    position: absolute;
    background-color: white;
    right: 0;
    top: 30px;
    width: max-content;
    z-index: 99;
    border-radius: 5px;
    overflow: hidden;
    scale: 0;
    transition: 0.2s;
    box-shadow: 0px 0px 10px 0px gray;
}
.profile-item a{
    display: block;
    color: black;
    padding: 5px 15px;
}
.profile-item a:hover{
    background-color: #ededed;
}
/* --------------------------------- REPONSE -------------------------------- */
@media screen and (max-width: 1080px) {
}
@media screen and (max-width: 900px){
    .header-top{
        flex-wrap: wrap;
    }
    .header-top .search{
        display: none;
    }
    .header-top .search-mobile input{
        width: 100%;
    }
    .header-top .search-mobile{
        width: 100%;
        display: flex;
    }
}
@media screen and (max-width: 768px){
    header{
        flex-wrap: wrap;
        padding: 20px 20px 10px 20px;
    }
}
@media screen and (max-width: 575px){
}
@media screen and (max-width: 360px){
}
@media screen and (max-width: 320px){
    .header-top{
        justify-content: center;
    }
}
/* --------------------------------- REPONSE -------------------------------- */