#home{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
#home aside{
    grid-column: 1/2;
    max-width: 250px;
}
#home article{
    grid-column: 2/6;
}
/* CATEGORY */
.category-list ul{
    background-color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-bottom: 5px;
    box-shadow: 0px 1px 2px #dadada;
}
.category-list ul li:nth-child(1){
    background: linear-gradient(90deg, #ee4e2e,#ee4e2e);
    color: white;
    font-weight: bold;
    margin-bottom: 1px;
    margin: 0;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
}
.category-list ul li:nth-child(2) > a{
    margin-top: 5px;
}
.category-list ul li a{
    display: block;
    padding: 10px;
    color: black;
    margin: 0px 5px;
    transition: 0.2s;
}
.category-list ul li a:hover{
    background: linear-gradient(90deg, #ee4e2e,#ee4e2e);
    color: white;
    transition: 0.2s;
    font-weight: bold;
}
/* CATEGORY */
/* BEST-SELLER */
#best-seller-list{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
    box-shadow: 0px 1px 2px #dadada;
}
.best-seller{
    min-width: 100%;
    max-width: max-content;
    padding: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
    white-space: wrap;
    overflow: hidden;
    word-wrap: break-word;
    align-items: center;
}
.best-seller img{
    width: 100%;
    height: 70px;
    object-fit: cover;
}
.best-seller span{
    height: 55px;
    overflow: hidden;
}
#best-seller-list a{
    color: black;
}
#best-seller-list a:hover{
    color: #ee4e2e;
    transition: 0.2s;
    font-weight: bold;
}
.title-best-seller{
    display: block;
    padding: 10px 15px;
    background: linear-gradient(90deg, #ee4e2e,#ee4e2e);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
/* BEST-SELLER */
/* PRODUCT */
.product-container{
    background-color: white;
    box-shadow: 0px 1px 2px #dadada;
}
.product-container h3{
    padding: 20px 20px 0px 20px;
}
#product-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    padding: 20px;
}
.product{
    background-color: white;
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid #c5c5c5;
}
.product a{
    color: black;
}
.product:hover{
    box-shadow: 0px 0px 10px 1px #c5c5c5;
    transition: 0.3s;
    transform: translateY(-5px);
}
.product-image{
    height: 170px;
}
.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.information-product{
    padding: 10px;
}
.title{
    height: 45px;
    overflow: hidden;
    padding-bottom: 10px;
}
.title:hover{
    font-weight: bold;
    transition: 0.2s;
    color: #ee4e2e;
}
.price{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.price del{
    font-size: 12px;
    color: gray;
}
.price span{
    color: #ee4e2e;
}
/* PRODUCT */
/* --------------------------------- REPONSE -------------------------------- */
@media screen and (max-width: 1080px) {
    main #home{
        grid-template-columns: repeat(6,1fr);
    }
    main #home aside{
        min-width: 100%;
        grid-column: 1/3;
    }
    main #home article{
        grid-column: 3/7;
    }
    main #product-list{
        grid-template-columns: repeat(3,1fr);
        padding: 20px;
    }
}
@media screen and (max-width: 900px){
    main #product-list{
        grid-template-columns: repeat(3,1fr);
        padding: 10px;
    }
    main #home{
        gap: 10px;
    }
}
@media screen and (max-width: 768px){
    main{
        padding: 10px;
    }
    main #home{
        grid-template-columns: repeat(1,1fr);
    }
    main #home aside{
        grid-column: 1/2;
        max-width: 100%;
    }
    main .best-seller img{
        grid-column: 1/2;
        width: 120px;
        height: 80px;
    }
    main .best-seller span{
        grid-column: 2/5;
    }
    main .best-seller{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    }
    main #home article{
        grid-column: 1/2;
        order: -1;
    }
    main #product-list{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 575px){
    main #product-list{
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    }
    .product-image{
        height: 150px;
    }
}
@media screen and (max-width: 359px){
    main #home aside .best-seller img{
        height: 80px;
    }
    main #product-list{
        grid-template-columns: repeat(1,1fr);
        padding: 10px;
        gap: 5px;
    }
    nav ul li a{
        font-size: 15px;
        display: block;
        padding: 0px 5px 5px 5px;
    }
    main .best-seller img{
        width: 100px;
        height: 70px;
    }
}
@media screen and (max-width: 320px){
}
/* --------------------------------- REPONSE -------------------------------- */
